@import "../../vars.css";

.container {
    position: relative;
    background-color: #f0f0f0; /* М'який фон */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Більш м'яка тінь */
    padding: 50px; /* Менший padding для кращої адаптивності */
    margin: 50px 5%; /* Адаптивні відступи з боків */
    font-family: 'Poppins', sans-serif; /* Більш сучасний шрифт */
    transition: background-color 0.3s ease-in-out;
}

.container:hover {
    background-color: #e0e0e0; /* Легка зміна кольору при ховері */
}

.title {
    color: var(--color-text);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.aboutImage {
    flex: 1;
    max-width: 25%; /* Зменшено максимальну ширину зображення */
    height: auto; /* Пропорційно зменшується висота */
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease; /* Плавна анімація при ховері */
}

.aboutImage:hover {
    transform: scale(1.05); /* Легке збільшення при ховері */
}

.aboutItems {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.aboutItem:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.aboutItem img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.aboutItemText h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--color-text);
}

.aboutItemText p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
}

/* Адаптивність */
@media screen and (max-width: 830px) {
    .container {
        padding: 20px;
        margin: 20px 0;
        box-shadow: none;
        background-color: transparent;
    }

    .title {
        font-size: 1.8rem;
    }

    .content {
        flex-direction: column;
    }

    .aboutImage {
        max-width: 80%; /* Менше зображення на мобільних */
        margin-bottom: 20px; /* Додано відступ знизу */
    }

    .aboutItems {
        margin-top: 20px;
    }

    .aboutItem {
        padding: 15px;
        flex-direction: column;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: none;
    }

    .aboutItem img {
        margin-bottom: 15px;
        width: 40px;
        height: 40px;
    }

    .aboutItemText h3 {
        font-size: 1.2rem;
    }

    .aboutItemText p {
        font-size: 0.9rem;
    }
}
