.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: #333333; /* Темний фон */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 50px 10%;
    gap: 40px;
    font-family: 'Comic Sans MS', sans-serif; /* Застосування шрифту 'Comic Sans MS' */
}

.text h2 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #FFFFFF; /* Білий колір тексту */
    font-family: 'Comic Sans MS', sans-serif;
}

.text p {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #FFFFFF; /* Білий колір тексту */
    font-family: 'Comic Sans MS', sans-serif;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link img {
    width: 35px;
    height: 35px;
}

.link a {
    color: #FFFFFF; /* Білий колір тексту */
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
}

.link a:hover {
    color: var(--color-primary); /* Зміна кольору при наведенні */
}

/* Адаптивність для екранів менше 830px */
@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        padding: 40px 5%;
        gap: 30px;
    }

    .text h2 {
        font-size: 48px; /* Зменшення розміру для мобільних */
        text-align: center;
    }

    .text p {
        font-size: 24px; /* Зменшення розміру для мобільних */
        text-align: center;
    }

    .links {
        align-items: center;
        gap: 18px;
    }

    .link {
        gap: 15px;
    }

    .link a {
        font-size: 20px; /* Зменшення шрифту для мобільних */
    }

    .link img {
        width: 30px;
        height: 30px;
    }
}
